* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16afd8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Nunito sans", Helvetica, sans-serif;
  margin-top: 3vw;
  min-height: 100%;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  background-image: url("img/splash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 44.4vw;
  height: 13.3vw;
  text-align: right;
}
header .container-header {
  position: relative;
  display: flex;
}
header .container-header__over {
  color: white;
  position: absolute;
  font-weight: bolder;
  top: 15%;
  right: 30%;
  padding-bottom: 3%;
  font-size: 2vw;
  width: 50%;
}
header .container-header__name {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  position: absolute;
  left: 60%;
  font-weight: lighter;
}
header .container-header__link {
  color: blue;
  position: absolute;
  top: 80%;
  left: 53%;
  font-size: 0.8vw;
  text-decoration: none;
}
header .container-header__link:hover {
  color: crimson;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: #0879b1;
  color: white;
  text-align: center;
  width: 44.3vw;
}
.container-main .container-main__colors {
  border-right: #16afd8 thin solid;
}
.container-main .container-main__mix {
  border-right: #16afd8 thin solid;
}
.container-main .container-main__gloves {
  border-right: #16afd8 thin solid;
}
.container-main .container-main__title {
  font-size: 1vw;
  padding: 10%;
}
.container-main .container-main__img {
  width: 55%;
}
.container-main .container-main__title:hover {
  color: #00BD96;
  font-size: medium;
}
.container-main .container-main__img:hover {
  transform: scale(1.1);
}

.container-form {
  background-color: #0879b1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 5vw;
  width: 44.4vw;
}
.container-form form {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 4%;
}
.container-form input {
  width: 11vw;
  height: 1.7vw;
  color: rgba(235, 238, 240, 0.1725490196);
  left: 2vw;
}
.container-form select {
  width: 3.9vw;
  height: 1vw;
  font-size: 0.6vw;
  margin-top: 0.3vw;
}
.container-form button {
  color: rgba(93, 97, 100, 0.6352941176);
  width: 10vw;
  height: 1.7vw;
  border-radius: 0.5vw;
  border: none;
}

/*TABLET*/
@media (min-width: 820px) and (max-width: 1180px) {
  .container-header__over {
    left: 47%;
    font-size: 3vw;
  }
  .container-header__name {
    left: 67%;
    font-size: 1.6vw;
  }
  .container-header__link {
    left: 20%;
    font-size: 1.8vw;
  }
  .container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .container-main__colors {
    border-bottom: #16afd8 thin solid;
  }
  .container-main__mix {
    border-bottom: #16afd8 thin solid;
  }
  .container-form {
    height: 18vw;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1.2vw;
  }
  input {
    width: 25vw;
  }
  select {
    width: 8vw;
    height: 2vw;
  }
}
@media (max-width: 819px) {
  .container-header__over {
    left: 47%;
    font-size: 3vw;
  }
  .container-header__name {
    left: 60%;
    font-size: 2vw;
  }
  .container-header__link {
    left: 20%;
    font-size: 2vw;
  }
  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-main__title {
    font-size: 3vw;
    padding: 10%;
  }
  .container-main__img {
    width: 30%;
  }
  .container-main__colors {
    border-bottom: #16afd8 thin solid;
  }
  .container-main__mix {
    border-bottom: #16afd8 thin solid;
  }
  .container-main__gloves {
    border-bottom: #16afd8 thin solid;
  }
  .container-main__inspire {
    border-bottom: #16afd8 thin solid;
  }
  .container-main__title:hover {
    font-size: x-large;
  }
  .container-form {
    height: 33vw;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1.4vw;
  }
  input {
    width: 26vw;
    height: 3vw;
  }
  select {
    width: 15vw;
    height: 3.5vw;
    font-size: 1.8vw;
  }
  button {
    width: 15vw;
    height: 4vw;
  }
}

/*# sourceMappingURL=styles.css.map */
